.modal {
    display: none;
    position: fixed;
    z-index: 100000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    border: 1px solid #888;
    border-radius: 10px;
    width: 460px;
    position: relative;
}

.close-signup {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
}

.close-signup:hover,
.close-signup:focus {
    color: #3498db;
    text-decoration: none;
    cursor: pointer;
}

.container {
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #3498db;
}

.form-group {
    margin-bottom: 20px;
}


label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #3498db;
}

input[type="text"],
input[type="email"],
input[type="password"]
{
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
select{
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
form{
    display: flex;
    flex-direction: column;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #2980b9;
}
