#register-content .register-container {
    margin: 0 auto;
    margin-top: 5%;
    padding: 30px 20px;
    width: 30%;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 4px;
}

.register-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: grey;
}

.form-group {
    margin-bottom: 20px;
}

.register-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
    font-size: 14px;
    font-weight: 500;
}

input[type="text"],
input[type="email"]
{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form{
    display: flex;
    flex-direction: column;
}

.register-container .submit {
    width: 100%;
    padding: 10px;
    background-color: #ADA2FF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-container .submit:hover {
    opacity: .8;
}

.success{
    background-image: url(../images/check.png);
    background-position: center;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-4%, 400%);
}
.register-icon{
    background-image: url('../images/vehicle_register.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 30px;
    margin-bottom: 10px;
}
